extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/messages/new") Click to Add a Message!

  each message in message_list
    div
        p #[strong !{message.user_name}] | #{message.date_formatted}
        p - #{message.message}
