extends layout

block content
  main#messageboard
    div.messageboard-title
        h1= title
    div.message-list-wrapper
        div.message-list-container
            each message in message_list
                div.message-container
                    div.message-details
                        p #[strong !{message.user_name}]
                        p #{message.date_formatted}
                    div.message-content
                        p #{message.message}
    div.message-post-container
        
        div.form-container
            if errors
                ul
                    for error in errors
                        li!= error.msg

            form(method="POST" action="")
                div.form-inputs
                    div.input
                        input.text-input(type="text" name="user_name" placeholder='Username'
                            required='true' value=(undefined===message ? '' : message.user_name) )
                    div.input
                        input.text-input(type='text' name="message" placeholder='Message'
                        required='true' value=(undefined===message ? '' : message.message))
                div
                    input.submit-btn(type="submit" value="Submit")

