extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/new") Click to Add a Message!

  each message in messages
    div
        p #{message.user} #{message.added}
        p #{message.text}
